img
{
    border-radius: 90%;
    /* margin-left: 500px; */
    margin-top: 20px;
    background-color: gold;
}

body{
    background-color: aqua;
    margin-left: 100px;
}

#mainHeading:hover{color: red;font-size: 40px;text-decoration: underline;letter-spacing: 0.4em;}


#mainHeading{color: green;margin-left: 12px;margin-top: 300px;}

.missile{color : red}

.earlyLifeAndEducation{color: red;font-size: 30px;}

p{color: red; word-spacing: 0.3em;text-indent: 2em;line-height: 150%; }